.button {
    padding: 8px 14px;
    border-radius: 4px;
    background:  #1676F3;
    border: none;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 336px;
    height: 56px;
    margin-bottom: 33px;
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;


}